// Import Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Variables
$font-family: 'Poppins', system-ui, sans-serif;
$transition-time: 0.3s;

// Reset Css
* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
}

a,
button {
    text-decoration: none;
    background-color: initial;
    color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    transition: all $transition-time;
    user-select: none;
    cursor: pointer;
}

img {
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

// Nav
nav {
    background-color: #fff;
    height: 5rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;

    .languages {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        a {
            margin-right: 1rem;

            &:hover {
                color: #ff0000;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;

        a {
            margin-right: 1rem;

            &:hover {
                color: #ff0000;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Logo
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

// Header
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    color: #471313;
    background: #ffe1e1;
    background: linear-gradient(180deg, #fff, #ffe1e1);
    position: relative;

    .header-title {
        font-size: 4rem;
        font-weight: 600;
    }

    .header-desc {
        font-size: 1rem;
        font-weight: 500;
        max-width: 40rem;
        text-align: center;
    }

    .mx-phone-button {
        position: absolute;
        height: 4rem;
        padding: 0 1.125rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        bottom: -2rem;
        background-color: #471313;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        &:hover {
            background-color: #fff;
            color: #471313;

            svg {
                fill: #471313;
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1.5rem;
            fill: #fff;
            transition: fill $transition-time;
        }
    }
}

// Section
section {
    padding: 4rem;

    &.services {
        padding-top: 8rem;

        // Row
        .row {
            flex-wrap: nowrap;
            margin: 2rem 0;
        }

    }

    &.company {
        .row {
            margin: 4rem 0;
        }
    }

    .section-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
    }

    .section-desc {
        font-size: 1rem;
        text-align: center;
    }
}

// Row
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

// Card
.card {
    background: #ffe1e1;
    font-size: 0.875rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: box-shadow $transition-time, transform $transition-time;

    .card-title {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &:hover {
        box-shadow: none;
        transform: scale(0.95);
    }
}

// Image Card
.image-card {
    width: 16rem;
    height: 16rem;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: 1rem;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .image-layer {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: #fff;
        border-radius: 1rem;
        background-color: transparent;
        backdrop-filter: initial;
        transition: all $transition-time;
        cursor: pointer;

        &:hover {
            backdrop-filter: blur(0.25rem);
            background-color: rgba(71, 19, 19, 0.75);

            span {
                transform: translateY(0);
            }
        }

        span {
            transform: translateY((16rem / 2) + 1.5rem);
            transition: all $transition-time;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}

// Image Round
.image-round{
    width: 6rem;
    height: 6rem;
}