// Import Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

// Variables
$font-family: 'Poppins', system-ui, sans-serif;
$transition-time: 0.3s;

// Reset Css
* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
}

a,button{
    text-decoration: none;
    background-color: initial;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    transition: all $transition-time;
    user-select: none;
    cursor: pointer;
}

img {
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

// Nav
nav {
    background-color: #fff;
    height: 5rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .languages {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        a {
            margin-right: 1rem;

            &:hover{
                color: #ff0000;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;

        a {
            margin-right: 1rem;

            &:hover{
                color: #ff0000;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Logo
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}